{% extends 'general/base.html' %}


{% block head %}
<script src="https://d3js.org/d3.v6.min.js"></script>

{% endblock head %}

{% block tab_title %}
Link {{ link.name }}
{% endblock tab_title %}

{% block main %}
<section class="section">
    <div class="level has-text-centered">
        <div class="level-right">
            <div class="level-item">
                <p class='title'>{{ link.name }}</p>
            </div>


        </div>

        <div class="level-item">
            <div class="div">
                <p class='heading'>Collection</p>
                <span class='tag'>
                    <p class='title is-4'>{{ link.collection.name | title }}</p>
                </span>
            </div>
        </div>
        <div class="level-left">
            <div class="level-item">
                <h2 class='subtitle'>
                    Redirect to : <span class="tag"><a href="{{ link.base }}">{{ link.base }}</a></span>
                </h2>
            </div>

        </div>
    </div>
    <p class="block">
        Number of hits : {{ link.hits | length }}
    </p>



</section>
<section class='section'>
    <!-- <canvas  width="400" height="400"></canvas> -->
    <div id="myChart"></div>
</section>

<p id='link_id' style="display: none;">
    {{link.id}}
</p>

<script>



    $("document").ready(function () {
        let dict = {
            id: $('#link_id').html().trim()
        }
        console.log(dict);



        console.log(window.chart);
        $.ajax({
            type: "POST",
            url: "/api/link-infos",
            data: JSON.stringify(dict),
            contentType: "application/json",
        }).done(function (data) {
            var char_data = [{
                x: data.hits[0],
                y: data.hits[1],
                mode: 'lines+markers'
            }];
            console.log(char_data);

            var layout = {
                title: 'Hits by days',
                xaxis: {
                    title: 'Date'
                },
                yaxis: {
                    title: 'Number of hits'
                }
            };

            Plotly.newPlot('myChart', char_data, layout);
        });


    });

</script>
{% endblock main %}